.dashboard {
    .stats-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .card-title {
        font-size: 16px;
        font-weight: bold;
    }
}

.asset-table {
    thead {
        th:last-of-type {
            text-align: right;
        }
    }
    tbody {
        tr {
            td:last-of-type {
                text-align: right;
            }
        }
    }
}