.dashboard {
    .stats-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .card-title {
        font-size: 16px;
        font-weight: bold;
    }
}

.asset-table {
    thead {
        th:last-of-type {
            text-align: right;
        }
    }
    tbody {
        tr {
            td {
                font-size: 18px;
                padding: 16px 0px 16px 0px;
                
            }
            td:last-of-type {
                text-align: right;
            }
        }
        tr:last-of-type {
            td {
                border-bottom: none;
            }
        }
    }
}