.topbar {
    top:0;
    .topbar-hold {
        position: relative;
        // box-shadow: $elevation-z8;
        height: $topbar-height;
        border-radius: inherit;
        padding: 0 1rem;
        // z-index: 15;
    }

    .circular-image-small {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}