.topbar {
    top:0;
    .topbar-hold {
        position: relative;
        height: $topbar-height;
        border-radius: inherit;
        padding: 0 1rem;
    }

    .circular-image-small {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}